*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;background-color: transparent;}
button::-moz-focus-inner {padding: 0;border: 0;}
a{color: black;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
/*img{vertical-align: top;}*/
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/*!*-----------------------------------------------------*!*/
.root{
    padding: 0 50px;
    line-height: 1.5;
    color: #212121;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
}

p {
    margin: 0;
}

.user-list {
    margin: 0;
    list-style: none;
    padding: 24px;
}

.user-list li:not(:last-child) {
    margin-bottom: 16px;
}
.input{
    border: 2px solid #2d2a32;
    height: 30px;
}

.containerUsers{
    background-color: #eeefa8;
    width: 300px;
    padding: 10px;
}

.containerUsers__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn{
    margin: 20px;
    width: 150px;
    height: 50px;
    background-color: #ddd92a;
    border: 2px solid #2d2a32;
    border-radius: 10px;
    font-size: 18px;
}

.btn:hover{
    background-color: #2d2a32;
    color: white;
}
/*-----------------------------------------------------*/
.window__inner{
    background-color: #eeefa8;
    width: 550px;
    padding: 10px;
}

.window__btn{
    width: 150px;
    height: 50px;
    background-color: #ddd92a;
    border: 2px solid #2d2a32;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
}

.deleteButton{
    width: 150px;
    height: 50px;
    background-color: #ddd92a;
    border: 2px solid #2d2a32;
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.deleteButton:hover,
.window__btn:hover{
    background-color: #2d2a32;
    color: white;
}




